# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
env/
venv/
.venv/
ENV/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Migrations (optional)
# =========================
# Uncomment if you don't want to track migrations
# */migrations/*
# !*/migrations/__init__.py

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build / Deploy
# =========================
*.egg-info/
dist/
build/

# =========================
# Logs
# =========================
logs/


# =========================
# Plan Files
# =========================
SiteMap/