{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DevOpsVaultX</title>

    <!-- Project Icon -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

    <!-- Project Global CSS -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">

    <!-- Project Pages CSS -->
    <link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/abouts.css' %}">
    <link rel="stylesheet" href="{% static 'pages/css/contact.css' %}">
    
    <!-- Project Products CSS -->
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
    <link rel="stylesheet" href="{% static 'products/css/productview.css' %}">

    <!-- Project Payments CSS -->
    <link rel="stylesheet" href="{% static 'payments/css/payments.css' %}">

    <!-- Global Google Font CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <header class="navbar">
        <a href="/"><div class="logo-container">
            <img src="{% static 'images/favicon.png' %}" alt="DevOpsVaultX Logo" class="nav-logo">
            <span class="brand-name">DevOpsVaultX</span>
        </div></a>

        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/products/">Products</a>
            <a href="/about/">About</a>
            <a href="/contact/">Contact</a>
        </nav>
    </header>

    <main class="content-wrapper">
        {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
        <div class="footer-inner">
            <p>© 2026 DevOpsVaultX</p>
        </div>
    </footer>
</body>
</html>